.order {
} 

.order .container {
  position: relative;
}

.order-image {
  position: absolute;
  top: 0;
  right: calc(100% - 764px);
  z-index: -1;
}

.order-form {
  background: #415167;
  border: 1px solid #353535;
  border-radius: 16px;
  margin-top: 60px;
  max-width: 426px;
  box-sizing: border-box;
  padding: 60px 40px;
  margin-left: 674px;
}

.order-form-text {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.order-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.order-form-input {
  background: linear-gradient(95.61deg,#415167 0%, #EDF0F5 100%);
  width: 344px;
  height: 62px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form-input input {
  padding: 20px 10px;
  background: #151D28;
  border-radius: 8px;
  width: 342px;
  height: 60px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid transparent;
  color: white;
}

.order-form-inputs.button {
  width: 344px;
  height: 62px;
}
/* Прокрутка до верху сторінки */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#C7A17A;
  cursor: pointer;
  padding: 25px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #555;
}
