.why {
 
}

.common-title {
  font-family: 'Merriweather', sans-serif;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.why-items {
  margin-top: 60px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 312px);
  justify-content: center;
}

.why-item {
  text-align: center;
}

.why-item-title {
  font-size: 24px;
  line-height: 29px;
  padding: 24px 0;
}

.why-item-text {
  font-size: 16 px;
  line-height: 140%;
}