<section class="contacts" id="contacts">
    <footer class="footer">
      <div class="container contact-web">
        <div class="footer-tablet">
          <div class="contacts">
    
            <address class="contacts__adress">
              <ul class="contacts__list list">
                <li class="contacts__contacts-type">
                  <a
                    class="contacts__map link"
                    href="https://goo.gl/maps/CTmhHQKZqYB2jewa7"
                    target="_blank"
                    rel="noreferrer noopener"
                  >
                    м. Київ, пр-т Лесі Українки, 26
                  </a>
                </li>
                <li class="contacts__contacts-type">
                  <a class="contacts__contact link" href="mailto:info@devstudio.com"
                    >info@devstudio.com</a
                  >
                </li>
                <li>
                  <a class="contacts__contact link" href="tel:+380938537454">+38 093 853 74 54</a>
                </li>
              </ul>
            </address>
          </div>
          <div class="network">
            <h3 class="network__text">приєднуйтесь</h3>
            <ul class="network__list list">
              <li class="network__icon">
                <a class="network__icon-link-footer" href="instagram">
                  <svg class="network__icon" width="20" height="20" fill="white">
                    <use href="/assets/symbol-defs.svg#icon-instagram"></use></svg
                ></a>
              </li>
              <li class="network__icon">
                <a class="network__icon-link-footer" href="facebook">
                  <svg class="network__icon" width="20" height="20" fill="white">
                    <use href="/assets/symbol-defs.svg#icon-facebook"></use></svg
                ></a>
              </li>
              <li class="network__icon">
                <a class="network__icon-link-footer" href="linkedin">
                  <svg class="network__icon" width="20" height="20">
                    <use href="/assets/symbol-defs.svg#icon-icon-send"></use></svg
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    </section>   