<section class="main-content">
        <div class="container">
          <div class="main-info">
            <span class="main-small-info">Ваш варіант</span>
            <h1 class="main-title">Мийки</h1>
            <p class="main-text">
              Кухонні мийки. З нержавіючої сталі. Гранітні мийки. Скляні мийки. 
              Кухонні змішувачі. Сифони до мийок. Комплектуючі. Доставка і високий сервіс.
            </p>
            <div class="main-action">
              <button class="button" id="main-action-button">Обери свою мийку</button>
            </div>
      </section>