<section class="order" id="order">
      <div class="container">
        <div class="order-title common-title">оформлення замовлення</div>
        <img src="/assets/beautiful-modern-style-faucet-with-steel-sink-kitchen.jpg" alt="kitchen-sink" class="order-image" />
        <div class="order-form">
          <div class="order-form-text">
            Заповніть всі дані і наш менеджер зв'яжеться з вами для підтвердження замовлення
          </div>
          <div class="order-form-inputs">
            <div class="order-form-input">
              <input type="text" placeholder="Ваше замовлення*" id="sink" />
            </div>
            <div class="order-form-input">
              <input type="text" placeholder="Ваше ім'я*" id="name" />
            </div>
            <div class="order-form-input">
              <input type="text" placeholder="Ваш телефон*" id="phone" />
            </div>
            <div class="order-form-input">
              <input type="text" placeholder="Промокод" id="promo" />
            </div>
            <button type="submit"class="button" id="order-action">Оформити замовлення</button>
           </div>
        </div>
      </div>
      <section>
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <span>
                    <svg
                      width="35"
                      height="40"
                      
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M16 1l-15 15h9v16h12v-16h9z"
                        fill="#191411"
                      />
                    </svg>
                  </span>
        </button>
      </section>
    </section>