<section class="why" id="why">
      <div class="container">
        <div class="why-title common-title">Чому обирають нас?</div>
        <div class="why-items">
          <div class="why-item">
            <img src="/assets/burger.png" alt="" class="why-item-image" />
            <div class="why-item-title">Висока якість</div>
            <div class="why-item-text">
              Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на какие другие.
              Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для нашего меню.
            </div>
          </div>
          <div class="why-item">
            <img src="/assets/meat.png" alt="" class="why-item-image" />
            <div class="why-item-title">Об'ємні чаші</div>
            <div class="why-item-text">
              Для наших бургеров мы используем отборную 100% мраморную говядину, которую закупаем
              исключительно у фермеров. Мы уверены в качестве нашего мяса.
            </div>
          </div>
          <div class="why-item">
            <img src="/assets/food_truck.png" alt="" class="why-item-image" />
            <div class="why-item-title">Зручні розміри</div>
            <div class="why-item-text">
              Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка бесплатно. Мы 
              тщательно упаковываем наши бургеры, чтобы по дороге они не остыли.
            </div>
          </div>
        </div>
      </div>
    </section>